/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Hanlding Updates
-----------------------------------------------------------------*/

.logo-text {
    font-size: 24px;
    font-family: 'Poppins';
    text-decoration: none;
    color: black;
}
a {
	text-decoration: none!important;
}
.p-3 {
    padding: 0rem!important;
}