<div class="container ajax-container">
  <h2 class="text-6 fw-600 text-center mb-4">MeteoAPI</h2>
  <div class="row g-4">
    <div class="col-md-7">
      <div class="single-slideshow" data-autoplay="true" data-loop="true" data-nav="true" data-items="1">
        <div class="item"> <img class="img-fluid" alt="" src="images/projects/project-1.jpg"> </div>
      </div>
    </div>
    <div class="col-md-5">
      <!-- <h4 class="text-4 fw-600">Project Info:</h4>
      <p>A system that collects data on user traffic on the website, analyzes data and allows for extensive segmentation. The aim of the system is to increase traffic and product sales by understanding the recipient</p>
	    <p>While working on the system, I designed the API, database, the way of downloading and presenting data in the client interface. In addition, I developed several proprietary indicators.</p> -->
      <h4 class="text-4 fw-600 mt-4">Project Details:</h4>
      <ul class="list-style-2">
        <li><span class="text-dark fw-600 me-2">Client:</span>MeteoAPI</li>
        <li><span class="text-dark fw-600 me-2">Industry:</span>Data Science, E-commerce, Advertisement</li>
        <li><span class="text-dark fw-600 me-2">Technologies:</span>Laravel, MySQL, Redis</li>
        <li><span class="text-dark fw-600 me-2">Date:</span>2022 - Current</li>
        <li><span class="text-dark fw-600 me-2">URL:</span><a class="btn btn-secondary shadow-none rounded-0 px-3 py-1" href="https://meteoapi.com" target="_blank">meteoapi.com <i class="fas fa-external-link-alt ms-1"></i></a></li>
      </ul>
      <!-- <div class="row g-2 align-items-center">
        <div class="col-auto text-dark fw-600">Share: </div>
        <div class="col-auto">
          <ul class="social-icons">
            <li class="social-icons-facebook"><a data-bs-toggle="tooltip" href="http://www.facebook.com/" target="_blank" title="" data-bs-original-title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
            <li class="social-icons-twitter"><a data-bs-toggle="tooltip" href="http://www.twitter.com/" target="_blank" title="" data-bs-original-title="Twitter"><i class="fab fa-twitter"></i></a></li>
            <li class="social-icons-google"><a data-bs-toggle="tooltip" href="http://www.google.com/" target="_blank" title="" data-bs-original-title="Google"><i class="fab fa-google"></i></a></li>
            <li class="social-icons-instagram"><a data-bs-toggle="tooltip" href="http://www.instagram.com/" target="_blank" title="" data-bs-original-title="Instagram"><i class="fab fa-instagram"></i></a></li>
            <li class="social-icons-email"><a data-bs-toggle="tooltip" href="http://www.instagram.com/" target="_blank" title="" data-bs-original-title="Email"><i class="fas fa-envelope"></i></a></li>
          </ul>
        </div>
      </div> -->
    </div>
  </div>
  
</div>